player-connection-mode=Connect
player-connection-guid=2693624804
player-connection-debug=0
player-connection-project-name=Ball Roll Game
player-connection-wait-timeout=-1
player-connection-ip=10.67.130.160
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
profiler-enable-deep-profiling-support=1
build-guid=e3b60415aa0449688054783282d5fd7d
